/* CSS Reset to get a consistent starting state acrosss browsers */

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/*
    Typographic tweaks!
    -- Add accessible line-height
    -- Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

/* ######################################################## */
:root {
  --padding: 10px;
  --blur: 2px;
  --primary-colour: rgb(150, 17, 150);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(asset/backgroundimage.jpg);
  color: #ffffff;
}

h1 {
  border-bottom: 2px solid var(--primary-colour);
  margin-block-end: 10px;
}

h1 span {
  color: var(--primary-colour);
}

.imagewrapper {
  margin: 10px;
}

.imagewrapper .image {
  width: 350px;
  height: 250px;
  padding: var(--padding);
  background-color: var(--primary-colour);
  filter: blur(var(--blur));
}
